/* GOOGLE FONTS */
@import "https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200&display=swap";
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: inherit;
  box-sizing: border-box;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #C8BBAA;
  font-size: 1.6rem;
  margin: 0;
  display: block;
}
body::before {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  content: "";
}

header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0.7)), url(../imagenes/cafeee1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: block;
}

.header:after {
  content: "";
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
}

.banner-text {
  padding: 0 30px;
  margin-top: 150px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
}

nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo {
  width: 130px;
  margin-left: 20px;
  margin-top: 60px;
}

.bar-btn {
  font-size: 25px;
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
}

.nav-menu {
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 100px;
  background: rgba(0, 0, 0, 0.95);
  text-align: center;
  transition: all 0.5s;
  position: relative;
  height: 100px;
  top: 0;
  background: none;
  text-align: right;
  margin-right: 50px;
}
.nav-menu li {
  display: none;
  line-height: 30px;
  margin: 50px 0;
  transition: all 0.5s;
  display: inline-block;
  line-height: 100px;
  margin: 0 20px;
}
.nav-menu li a {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
.nav-menu li a:hover {
  color: #D9843B;
  transition: 0.3s;
}
.nav-menu li a.active {
  color: #D9843B;
  transition: 0.3s;
}

#check {
  display: none;
}
#check:checked ~ .nav-menu {
  height: 100vh;
}
#check:checked ~ .nav-menu li {
  display: block;
}

.text-center {
  text-align: center;
}

.contenedor {
  width: 95%;
  max-width: 140rem;
  margin: 0 auto;
}

.contenido-principal {
  background-color: #fff;
  padding: 20% 2%;
  margin-top: -10rem;
  position: relative;
}

main {
  text-align: center;
  padding-top: 60px;
}
main p {
  margin: 15px 50px;
}
main iframe {
  margin: 60px;
}

.contenedorProductos img {
  max-width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

section {
  padding: 25px;
  align-items: center;
}

img {
  width: 100%;
}

.row {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  padding: 5px;
}
.column img {
  margin-top: 5px;
}

.contenedorProceso img {
  width: 300px;
  display: flex;
  padding: 25px;
  flex-direction: row;
}
.contenedorProceso p {
  display: flex;
  padding: 25px;
  flex-direction: column;
  margin-inline-start: 120px;
  color: #400101;
  font-weight: lighter;
  margin: 20px;
}

.contenedormenu img {
  width: 250px;
  display: flex;
  padding: 25px;
  flex-direction: row;
  align-items: center;
}

.piePagina {
  width: 100%;
  background-color: #C8BBAA;
}
.piePagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.piePagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.piePagina .grupo-1 .box figure img {
  width: 250px;
}
.piePagina .grupo-1 .box h3 {
  color: #000;
  margin-bottom: 25px;
  font-size: 20px;
}
.piePagina .grupo-1 .box p {
  color: aliceblue;
  margin-bottom: 10px;
}
.piePagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #000;
  margin-right: 10px;
  background-color: #e2ae81;
  text-align: center;
  transition: all 300ms ease;
}
.piePagina .grupo-1 .red-social a:hover {
  color: aqua;
}
.piePagina .grupo-2 {
  background-color: rgb(221, 190, 150);
  padding: 15px 10px;
  text-align: center;
  color: #000000;
}
.piePagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 767px) {
  .card-img-top {
    max-width: 50%;
  }
}
@media (max-width: 800px) {
  .column {
    flex: 50%;
  }
}
@media (max-width: 600px) {
  .column {
    flex: 100%;
  }
}
@media screen and (max-width: 800px) {
  .piePagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}

/*# sourceMappingURL=Estilo.css.map */
