@use "variables" as v;
.card-titulo {
    font-family: $font-family_1;
    font-size: 3rem;
    color: v.$secundario;
    line-height: 2;
    padding-bottom: 2rem;
}

.card-texto {
    font-family: $font-family_1;
    font-size: 1.8rem;
    color: v.$negro;
    line-height: 2;
}